:root {
    font-size: 16px;
}

svg {
    width: 32rem;
    height: auto;
}

body {
    background-color: #ffffff;
    margin: 0;
}

header {
    padding: 1rem;
    color: #e974ae;
    background-color: #4a4e51;
    p {
        font-size: 1.5rem;
        text-align: center;
        b {
            vertical-align: top;
            cursor: pointer;
        }
    }
}

main {
    margin: 4rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border: none;
    border-radius: 1rem;
    background: #4a4e51;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 4rem;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;

    &:hover {
        transform: translateY(-0.1em);
        box-shadow: 0 12px 17px -3px rgba(0, 0, 0, 0.1),
            0 6px 8px -2px rgba(0, 0, 0, 0.05);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
}

.default_icon {
    display: block;
}

.correct_icon,
.wrong_icon {
    display: none;
}

.counter {
    padding: 1rem;
    background-color: #4a4e51;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    min-width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    #streak {
        text-align: left;
        color: #ffffff;
        font-weight: 600;
    }

    .hits {
        p {
            margin: 0;
            color: #ffffff;
            font-size: 2.25rem;
            line-height: 2.5rem;
            font-weight: 700;
            text-align: center;
        }
    }
}

footer {
    padding: 1rem;
    color: #e974ae;
    background-color: #4a4e51;
    p {
        text-align: center;
        a {
            color: #e974ae;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

@media (max-width: 1600px) {
    svg {
        width: 24rem;
    }

    button {
        padding: 3rem;
    }

    .counter .hits p {
        font-size: 2rem;
    }
}

@media (max-width: 1300px) {
    svg {
        width: 16rem;
    }

    header p {
        font-size: 1.4rem;
    }

    button {
        padding: 2rem;
    }

    .counter .hits p {
        font-size: 1.75rem;
    }

    footer p {
        margin: 0;
    }
}

@media (max-width: 900px) {
    svg {
        width: 12rem;
    }

    main {
        margin: 2rem 0;
    }

    button {
        padding: 1rem;
    }
}

@media (max-width: 700px) {
    svg {
        width: 8rem;
    }

    header p {
        font-size: 1.2rem;
    }

    button {
        padding: 0.5rem;
    }
}

@media (max-width: 500px) {
    svg {
        width: 8rem;
    }

    header p {
        font-size: 1rem;
    }

    button {
        padding: 0.5rem;
    }

    .counter {
        padding: 0.5rem;
        min-width: 4rem;
        height: auto;

        #streak {
            text-align: center;
            margin: 0;
            font-size: 0.8rem;
        }

        .hits {
            p {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 400px) {
    main {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (orientation: portrait) {
    body {
        display: none;
    }
}
