@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
    font-family: "Nunito", "Roboto", "Open Sans";
    font-size: 16px;
    --bg-color: #4a4e51;
    --primary-color: #e974ae;
    --white: #ffffff;
    --shadow-default: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-hover: 0 12px 17px -3px rgba(0, 0, 0, 0.1),
        0 6px 8px -2px rgba(0, 0, 0, 0.05);
}

body {
    background-color: var(--white);
    margin: 0;
}

/* Header */
header {
    padding: 1rem;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

header p {
    font-size: 1.5rem;
    text-align: center;
}

header p b {
    vertical-align: top;
    cursor: pointer;
}

/* Main */
main {
    margin: 4rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border: none;
    border-radius: 1rem;
    background: var(--bg-color);
    box-shadow: var(--shadow-default);
    padding: 4rem;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:hover {
    transform: translateY(-0.1em);
    box-shadow: var(--shadow-hover);
}

button:active {
    transform: translateY(0);
    box-shadow: var(--shadow-default);
}

svg {
    width: 32rem;
    height: auto;
}

.default_icon {
    display: block;
}

.correct_icon,
.wrong_icon {
    display: none;
}

.counter {
    padding: 1rem;
    background-color: var(--bg-color);
    box-shadow: var(--shadow-default);
    min-width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.counter #streak {
    text-align: left;
    color: var(--white);
    font-weight: 600;
}

.counter .hits p {
    margin: 0;
    color: var(--white);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

/* Footer */
footer {
    padding: 1rem;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

footer p {
    text-align: center;
}

footer p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

/* Media queries */
@media (max-width: 1600px) {
    button {
        padding: 3rem;
    }

    svg {
        width: 24rem;
    }

    .counter .hits p {
        font-size: 2rem;
    }
}

@media (max-width: 1300px) {
    header p {
        font-size: 1.4rem;
    }

    button {
        padding: 2rem;
    }

    svg {
        width: 16rem;
    }

    .counter .hits p {
        font-size: 1.75rem;
    }

    footer p {
        margin: 0;
    }
}

@media (max-width: 900px) {
    main {
        margin: 2rem 0;
    }

    button {
        padding: 1rem;
    }

    svg {
        width: 12rem;
    }
}

@media (max-width: 700px) {
    header p {
        font-size: 1.2rem;
    }

    button {
        padding: 0.5rem;
    }

    svg {
        width: 8rem;
    }
}

@media (max-width: 500px) {
    header p {
        font-size: 1rem;
    }

    button {
        padding: 0.5rem;
    }

    svg {
        width: 8rem;
    }

    .counter {
        padding: 0.5rem;
        min-width: 4rem;
        height: auto;
    }

    .counter #streak {
        text-align: center;
        margin: 0;
        font-size: 0.8rem;
    }

    .counter .hits p {
        font-size: 1rem;
    }
}

@media (max-width: 400px), (orientation: portrait) {
    main {
        flex-direction: column;
        gap: 2rem;
    }
}
